# Workspace Sachen
.obsidian/workspace.json
.obsidian/workspace-mobile.json

# Suchverlauf und so
.obsidian/global-search.json
.obsidian/starred.json

/.obsidian/plugins/initiative-tracker/data.json

/.obsidian/graph.json