# Workspace Sachen
.obsidian/workspace.json
.obsidian/workspace-mobile.json

# Suchverlauf und so
.obsidian/global-search.json
.obsidian/starred.json

# Privater Ordner
1-Planung/
!/1-Planung/.gitkeep

/.obsidian/plugins/initiative-tracker/data.json

/.obsidian/graph.json
/1-Planung/
/1-Planung/